body{
    background-image: url("back-ground.jpeg");
}
h1{
    text-align: center;
    margin-top: 100px;
}
#count-el{

    text-align: center;
    font-size:60px;
}
#increment-btn {
    background-color: aqua;
    font-size: 30px;
    border-radius: 12px;
    margin: auto;
    display: block;
  
}
#save-btn{
    background-color: blue;
    margin: auto;
    display: block;
    border-radius: 12px;
    margin-top: 20px;
    font-size: 30px;
}